.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  max-width: 790px;
  color: inherit; /* Change to preferred text color */
  border-radius: 0; /* Remove border radius or set it to preferred value */
  box-shadow: none; /* Remove box shadow or customize it */
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  color: white;
  max-width: 790px;
  border-radius: 5px;
  box-shadow: none;
}
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 20px;
  }